{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-2">
                <form action="/stream/" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                        
                    <input class="btn btn-default" type="submit" value="Filtrar">
                </form>
        </div>
        <div class="col-md-10" id="content">
        {% for t in tweets %}
            <div class="tweet">
                {{ t }}
            </div>
        <br/>
        {% endfor %}
        </div>
    </div>
<script>
    setInterval(function() {
        $.get("http://127.0.0.1:8000/getStream/", function (data) {
            $("#content").empty();
            var i;
            reversed_data = data.data.reverse()
            console.log(data)
            for (i in reversed_data){
                $("#content").append('<div class="tweet">' + reversed_data[i] + "</div><br/>");
            }

            //  Sidebar height
            $(".navbar-primary").height($("#content").height() + 1000);
        });
    }, 3000);
</script>
{% endblock %}