{% load static %}
<html>
    <head>
        <title>Twitter Alfred</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <script src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.jpg' %}"/>
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        
        <!-- Open Layers Map -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/openlayers/4.6.5/ol.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/openlayers/4.6.5/ol.js"></script>

    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-global navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-brand">
                    <div class="row">
                        <img class="logo navbar-left" src="https://ilovetokio.files.wordpress.com/2015/06/logos-social-twitter-i-love-tokio-couture.png"/>
                        <span class="logo-text">Twitter Alfred</span>
                    </div>
                </div>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-user navbar-right">
                    {% if user_online %}
                    <li><a class="username" target="_blank" href="https://twitter.com/{{screen_name}}"><img class="profile-photo" src="{{profile_photo}}"/> {{user.first_name}} {{user.last_name}} (@{{screen_name}})</a></li>
                    {% endif %}
                    {% if user_online %}
                    <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                    {% else %}
                    <li><a href="{% url 'social:begin' 'twitter' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    {% endif %}
                </ul>
                </div>
            </div>
            </nav>
        <nav class="navbar-primary">
        <ul class="navbar-primary-menu">
            <li>
            <a href="/home"><span class="glyphicon glyphicon-home"></span><span class="nav-label">Inicio</span></a>
            <a href="/stream"><span class="glyphicon glyphicon-search"></span><span class="nav-label">Filtrar</span></a>
            <a href="/recommendations"><span class="glyphicon glyphicon-user"></span><span class="nav-label">Personas</span></a>
            <a href="/stats"><span class="glyphicon glyphicon-stats"></span><span class="nav-label">Métricas</span></a>
            {% if screen_name == 'cloudycompany' %}
            <a href="/update"><span class="glyphicon glyphicon-refresh"></span><span class="nav-label">Actualizar BD</span></a>
            {% endif %}
            </li>
        </ul>
        <div class="footer-copyright text-center">
            <a target="_blank" href="https://github.com/CloudyCompany">© CloudyCompany</a>
        </div>
        </nav>
        <div class="content container main-content">
            <div class="row">
                <div class="col-md-10">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>