{% extends 'base.html' %}

{% block content %}
  <h2>Twitter Alfred</h2>
  <p>Bienvenido a Twitter Alfred, tu asistente de Twitter. Twitter Alfred es una aplicación desarrollada por
    Camila Reyes Aroca y Manuel Jesús Jiménez Navarro para la asignatura Acceso Inteligente a la Información,
    de cuarto del grado de Ingeniería Informática de Software en la Universidad de Sevilla.<br/>
    <br/>
    Twitter Alfred te permite:
    <ul>
      <li>
        Iniciar sesión de forma fácil en el sistema mediante tu cuenta de Twitter.
      </li>
      <li>
          Visualizar en tiempo real los tuits que se están escribiendo sobre un tema determinado.
      </li>
      <li>
          Visualizar en tiempo real desde donde se escriben dichos tuits.
      </li>
      <li>
          Obtener recomendaciones de cuentas de Twitter.
      </li>
      <li>
          Visualizar distintas métricas respecto a tu perfil de Twitter.
      </li>
    </ul>
  </p>
{% endblock %}